* {
  margin: 0;
  padding: 0;
}
:root {
  --wood-shade: rgb(245, 228, 203);
  --transparent-shade: rgb(0, 0, 0, 0.8);
}
html,
body {
  height: 100%;
}

body {
  display: grid;
  grid-template-rows: 5% 1fr;
  height: 100%;

  header {
    display: flex;
    justify-content: space-between;
    background: var(--transparent-shade);
    align-items: center;

    h1 {
      margin-left: 1rem;
      text-align: center;
      font-size: 1.5rem;
      color: var(--wood-shade);
    }

    nav {
      height: 100%;
      display: flex;
      justify-content: space-evenly;

      > button {
        padding: 8px;
        --transparent-bg: rgb(256, 256, 256, 0);
        margin: 0 20px;
        border: none;
        background-color: var(--transparent-bg);
        font-weight: 800;
        font-size: 1.5rem;
        color: var(--wood-shade);
      }

      .selected_button {
        background-color: white;
        color: black;
      }
      button:focus {
        background-color: white;
      }
    }
  }
}
